[2014-11-28 00:29] KelseyDH opened #1 "What versions of Rails does stream-rails support?"
In particular I'm wondering whether this would be suitable for projects in Rails 3.1.x or 3.2.x.

[2014-12-19 14:07] validkeys opened #2 "Enricher breaks down if, in certain activities, an enriched field is not available"
In some of my activities I have a target, in others, I don't. This is how I'm currently doing it:

[code]

For the activity items that don't have a target, ruby errors out on the split method when attempting to split the field_value.

Am I doing this correctly?

Here's the trace:

[code]

[2014-12-19 14:59] #2 closed, assigned to nobody

[2014-12-24 10:44] #1 closed, assigned to nobody

[2014-12-24 20:21] gauravtiwari opened #3 "Caching feeds - slow page load"
Hi @tbarbugli,

Great project for activity streams.

1. One problem I am seeing is slow page load - basically mini profiler is reporting it's taking about 1 second to load the page which has activity feed. Is there a way to cache the feeds into a rails app and only query when a feed is created/destroyed?

2. Is there a way to get all user feeds without restricting to current_user ?

Thanks,
Gaurav

[2014-12-24 20:33] gauravtiwari opened #4 "Realtime feed update"
Hey @tbarbugli,

How to retrieve realtime feeds into APP (not notification)?

*For ex -* If an activity is added it should update the feed with new activity

Thanks,
Gaurav

[2014-12-25 13:23] gauravtiwari opened #5 "Displaying grouped[:aggregated] feeds"
Hello @tbarbugli

I have configured activity feeds and it's all working except the display of Aggregated feeds.

How to display aggregated feeds so that it displays like -

*You followed Tom, Jessica and 2 more people*
*You followed Tom and Jessica*

Do I have to alter the partials to respond if a feed is flat or aggregated?

Thanks,
Gaurav

[2015-01-05 23:30] tbarbugli commented on #5
I added a simple example to the example app. https://github.com/GetStream/Stream-Example-Ruby/blob/f08d55ae8126c45b66efb5a66a462e63d2bf2bfa/app/views/aggregated_activity/_pin.html.erb

[2015-01-07 17:40] tbarbugli opened #6 "add documentation for location setting"
location is supported but not documented

[2015-02-09 23:14] gauravtiwari opened #8 "Creating feeds from controller"
Hello,

Is it possible to create feeds directly from controller?

Thanks

[2015-02-10 18:57] tbarbugli commented on #8
Can you elaborate a bit on the use case? You usually create the types of
feeds in the dashboard (eg. user feed, news feed ...) and then send data to
instances of them (eg. Guarav's user feed).

On Mon, Feb 9, 2015 at 6:14 PM, Gaurav Tiwari <notifications@github.com>
wrote:

[2015-04-29 08:24] napster3000 opened #9 "Activity Callback to send an email"
I have to send an email for each notification. Is there a callback method or a built-in method to do that?
Can I aggregated more notifications in only one email?

[2015-04-29 13:58] tbarbugli commented on #9
we support pushing updates to SQS queues. feel free to get in touch with us to discuss your case more in detail (support@getstream.io)

[2015-04-29 13:58] #9 closed

[2015-06-08 22:20] wyattisimo opened #10 "callbacks and Mongoid compatibility"
I'm curious as to why you're using `after_commit` instead of `after_create` and `after_destroy` here: https://github.com/GetStream/stream-rails/blob/master/lib/stream_rails/sync_policies.rb.

Using `after_commit` will cause data discrepancies if the call to the Stream API fails because it does not roll back the DB transaction.

Using `after_create` and `after_destroy` would not only allow ActiveRe

[2015-06-09 09:26] tbarbugli commented on #10
```after_create``` and ```after_destroy``` are executed within the same transaction of the record save/delete.

1. If the API call to Stream fails (eg. something wrong in the integration code, a networking issue client-side, ...) the transaction rolls-back and the record is not created or destroyed. This is really bad for apps that use Stream for not critical purposes or that can live with few mis

[2015-06-23 20:00] joshuairl opened #12 "Enricher possible to use my model method instead of the model attributes?"
My models have a "serialize" method that returns a basic object containing exactly the formatted data I want to be sent to the clients from my api.

I tried changing my model to be like this:
[code]

But it's still sending the entire user model...?

[2015-06-23 20:01] #3 closed

[2015-06-23 20:02] tbarbugli commented on #12
are you those users AR model instances?

[2015-06-23 20:03] #8 closed

[2015-06-23 20:05] joshuairl commented on #12
They should be, yep.

[2015-06-23 20:07] joshuairl commented on #12
I'm sorry, should look like this:
[code]

[2015-06-23 20:08] joshuairl commented on #12
But yes, they are instances of "User" model.
And the User model has a serialize method to create an object presentable to the clients.

[2015-06-23 20:09] joshuairl commented on #12
In console if I do:
`follow = Follow.find(27)`

Then I do:
`follow.followable.serialize`

I get the expected serialized result.

[2015-06-23 20:09] tbarbugli commented on #12
the gem integrates nicely with AR models, just return them and you will get serialization/deserialization for free.

eg.

[code]

[2015-06-23 20:10] joshuairl commented on #12
Yes, but my clients require a specific response from the API.

[2015-06-23 20:11] joshuairl commented on #12
In console if I do `follow.activity_actor` it returns the serialized version.
But `activities = enricher.enrich_aggregated_activities(results)`
is returning full model serialized instead of my custom version of it.

[2015-06-23 20:16] joshuairl commented on #12
The issue is that the gem seems to just return all of the model properties and I'm just wanting a customized subset of them.
For instance, avatarUrl which is a method of user is in the serialized object returned from serialize method.

[2015-06-23 20:20] tbarbugli commented on #12
AR model instances are stored in activities as string references (eg. "user:42"), when activities are enriched the references are replaced with the right model instances (as they were loaded with User.find(42)).

[2015-06-23 20:21] tbarbugli commented on #12
so unless I miss the point, one simple solution is to loop over the activities and replace actor field with actor.serialize (where activities is the result of ```enricher.enrich_aggregated_activities(results)```)

[2015-06-23 20:30] joshuairl commented on #12
That did it!
Thanks

[2015-06-24 07:56] #12 closed

[2015-06-24 19:48] joshuairl opened #13 "Error when saving comment"
I'm using acts_as_commentable.

My comment model looks like this:
[code]

For some reason, everytime I save I'm getting error:
`user_id can only contain alphanumeric characters plus underscores and dashes`

[2015-06-25 09:24] tbarbugli commented on #13
could you print the values for host_id,peer_id and user_id?

[2015-06-25 14:18] joshuairl commented on #13
Figured it out, thanks!
For some reason the plugin wasn't allowing me to do comment.user = @current_user.
I changed it up a bit and it's working good now.

[2015-06-25 14:18] #13 closed

[2015-06-25 14:25] joshuairl opened #14 "Does activity_notify ONLY send to those feeds? or is it in addition to other feeds?"
Does it put it in other feeds as well as the ones I specify there or is it isolating this to ONLY go in those feeds I specify in activity_notify?

[2015-06-25 14:32] tbarbugli commented on #14
activity_notify specifies a list of feeds that will get a copy of the activity (similar to email' CC field)

[2015-06-25 14:32] #14 closed

[2015-06-25 14:48] joshuairl commented on #14
How does that differ from `stream-ruby`'s `:to => []`?

[2015-06-25 15:17] joshuairl opened #15 "How would I represent this activity..."
John Smith commented on Susy Smith's post entitled "Things I love".
          "I love your things I love list!" <--- this would be john's comment

So I would need:
- Actor (John Smith)
- Owner (Susy Smith)
- Post (title: "Things I love")
- Comment (message: "I love your things I love list!")

Right?  Maybe this is out of the scope of `stream-rails`?
Maybe question for `stream-ruby`?

[2015-06-25 15:21] joshuairl commented on #15
Would the #activity_object be the `comment` or the `post` in this situation?
I'd hate to pass along "extra_info" when I could simply grab it from my DB during the "enrichment" process?

Would the activity stream spec `target` property be used in this situation at all?

[2015-06-25 17:13] tbarbugli commented on #15
I would use the `comment` object and then access the post via AR

[2015-06-25 17:38] tbarbugli commented on #14
`activity_notify` is used to generate the `to` field for the activity

[2015-06-26 16:58] wyattisimo commented on #10
I think something as simple as #16 would do it. Thoughts?

[2015-06-26 17:09] #15 closed

[2015-06-29 09:18] tbarbugli commented on #10
looks good! going to give it a test and see if it's good to merge, thank you! how is the integration going for you? did you have to change many other things to get mongoid work?

[2015-07-02 19:35] toobulkeh opened #17 "Create activities manually?"
Is there a way to use this gem if the verb/activity isn't a separate model? We have a state machine and state attribute on a model that defines "activities".

[2015-07-02 19:46] tschellenbach commented on #17
Yes but the documentation is a bit poor. @tbarbugli where's this documented?

[2015-07-02 20:10] tbarbugli commented on #17
you can extend the standard behavior (verb is derived from the class name) by implementing `activity_verb` in your model.

[code]

[2015-07-02 20:15] toobulkeh commented on #17
Ideally, we'd like to create activities manually:
[code]
But it seems like if we fall back to stream-ruby then all the enrich functionality is lost.

I'll give this a shot to see if I can come up with a solution in our concerns.

[2015-07-02 20:32] tbarbugli commented on #17
enrichment will keep working with manually created activities as long as you use `StreamRails.create_reference` to create the AR references

[2015-07-02 20:33] toobulkeh commented on #17
I don't think this will work, because the model is the object we're tracking, not the activity that's being performed.

For example, we have a Task model that has 3 different types of users (roles) attached to it. We have no way of determining who the owner is unless we specifically set it based on an action (not just CRUD activity).

Maybe we can create a separate Activity model that tracks the a

[2015-07-03 02:54] toobulkeh commented on #17
We ended up creating a general Activity object with a verb for any action we want to manually create.

[code]

[2015-07-03 02:54] #17 closed

[2015-07-07 19:25] toobulkeh opened #18 "Conditional Follow?"
We have a slightly different feed system, where a single feed is represented as a specific object (imagine a forum thread) and users can follow that thread for all activity on it.

We want users to receive activities into their notification feeds, but do not want them to receive activities that they created themselves (where actor == self)

Is there a way to conditionally follow in this manner, or

[2015-07-09 19:58] toobulkeh commented on #18
By the last line, I mean the problem we face if we do the filtering on our end is that if we say .get_notifications(limit: 15) and the past 15 notifications contain 3 of their own actions, we would only get 12 notifications, so we would then need to wrap everything in

[2015-07-13 15:32] toobulkeh opened #19 "Net::OpenTimeout: execution expired"
We keep getting timeout issues sporadically when using your service. Our stream app is in the us-east datacenter. Our own application runs on local dev environments (where we see it a lot) in NC and we've seen it 3 times in our staging environment now that runs out of a Digital Ocean datacenter in NYC.

Any ideas why this might be happening? Or should we just wrap it and deal with it (not ideal).

[2015-07-13 19:18] lorenjohnson opened #20 "Pagination"
I am currently working-up a GetStream.io implementation into our product and debating how much of the stream-rails gem to use vs going direct to stream-ruby. I get that I can use the Enricher regardless, and that's super helpful (though I am overriding #retrieve_objects to get the serialization I want), but it looks like I'll not be able to use the feed_manager as I need pagination. Is there any p

[2015-07-13 21:28] lorenjohnson commented on #20
Disregard, this was just a misunderstanding on my part.
I realize that I did have this capacity in the following way:

    feed = StreamRails.feed_manager.get_feed('aggregated', current_user.id)
    results = feed.get(limit: limit, offset: offset)['results']

[2015-07-13 21:28] #20 closed

[2015-08-05 00:38] toobulkeh commented on #19
@tbarbugli -- it looks like default_timeout is an option on stream-ruby but not on stream-rails. Doesn't look like there's a mechanism for passing any options through the libraries. Am I missing the mechanism? Thanks!

[2015-08-05 00:48] toobulkeh commented on #19
Also, open_timeout looks to be different than default timeout in HTTParty.
Here's a good article on how to make the client a bit more robust: http://www.binpress.com/tutorial/building-a-robust-json-api-client-with-ruby/140

[2015-08-05 08:49] tbarbugli commented on #19
good point, I added support for it in the latest release (2.3.0) you can now change the default timeout the same way you configure API keys.

[2015-08-05 08:52] tbarbugli commented on #10
@wyattisimo everything looks good to me. before merging I would really like to know how your integration went and if you needed other changes other than the one you put in #16
Thanks!

[2015-08-05 15:05] toobulkeh commented on #19
Cool, I have a feeling that it's a different problem that I'm running into. HTTParty separates open_timeout and default_timeout as they're used for 2 different parts of the HTTP connection exchange. In our application we had 4 hits against the API in a single page load, which might've been causing problems. We refactored that and have also put in exception handling for both Timeouts ala the timeou

[2015-08-05 15:09] #19 closed

[2015-08-06 22:21] toobulkeh commented on #18
@tbarbugli any ideas for how to do this? We're getting into more complex scenarios with the TO/follow method and would prefer to build this properly instead of what feels like a hack.

Thanks!

[2015-08-28 02:55] toobulkeh opened #21 "Activity Actor System?"
We have some actions that are performed by the system or global. It appears that this implementation requires a user/actor. Is there a clean way around this that Stream will accept?

[2015-09-17 22:13] andoq opened #22 "Enriching namespaced classes is broken"
The token for classes is based on ':', however a namespaced model will have ':' in the class name, and so enrichment will fail.

I have a fork where in enrich.rb, instead of splitting the string on ':', I split on:

/(?<!:):(?!:)/

However, I don't have a spec for it, it I get to I'll try and write that and submit a pull sometime this week.

And, it's probably not the best solution - it would be b

[2015-09-20 12:28] therise3107 commented on #13
hey there i am facing the same problem, my logic is same as well im doing @task.owner = current_user
but this is working fine with my comment model

[2015-10-02 08:51] #4 closed

[2015-10-02 08:53] #5 closed

[2015-11-07 02:13] kennym opened #23 "Sequel ORM compatibility"
This project seems to be compatible with ActiveRecord only at first glance, but we're on a Rails project which uses Sequel as the ORM. Bummer.

What are the plans for adding Sequel support? Pull requests welcome?

[2015-11-07 11:47] tbarbugli commented on #23
we don't have plans to add support for sequel to the library. PR are more than welcome, I can surely give you some help and suggestion if you want to add sequel support. The way this gem is structured, should make the integration with sequel fairly simple.

[2015-11-27 18:47] zackperdue opened #24 "undefined method user_id"
I'm trying to create activity using a model that doesn't have a user_id.

Below is my implementation. Am i missing something?

[code]

[2015-11-27 23:33] zackperdue commented on #24
i think i figured it out.

I just had to define `activity_owner_id`

[code]

[2015-11-27 23:33] #24 closed

[2015-12-01 15:52] kennym commented on #23
#25

[2015-12-01 17:39] kennym commented on #21
Same question here.

We basically want to create a feed item which appears in all feeds, e.g. a broadcast or system message.

[2015-12-01 17:57] tbarbugli commented on #21
what about having one global feed and "cc" all activities to it?

[2015-12-02 16:36] kennym commented on #21
Thanks - that's something we can work with.

[2015-12-03 14:09] kennym opened #26 "More than one activities per model?"
I have a model called `BookList`, and we have two situations where we would want to create an activity for it.

1. When it is first published. (Is not equal to creation - we call a separate method `publish` on the instance at some point to publish the list)
2. When it is updated.

We can't do either, because the code implies that we create an activity after an object is created. How can I solve th

[2015-12-03 14:09] kennym commented on #26
@tbarbugli ^^^

[2015-12-03 20:36] kennym commented on #26
OK, I came up with the following solution:

For each action in the system which requires an activity, I create an event for which will be serialized with AR or another supported ORM, e.g.:

`Events::PublishedList`
`Events::UpdatedList`

For each of those I just convert them into an activity. Probably the cleanest approach.

[2015-12-03 20:36] #26 closed

[2015-12-04 17:57] #23 closed

[2015-12-04 19:59] kennym commented on #18
@toobulkeh that is now possible with this code: https://github.com/GetStream/stream-rails/pull/28

[2015-12-19 23:12] kennym opened #35 "Testing framework integrations?"
Are there any plans on integrations for testing frameworks like RSpec? Pull requests welcome?

[2015-12-21 08:15] tbarbugli commented on #35
we have no plans yet. what is your suggestion?

[2015-12-22 17:29] kennym commented on #6
I think #36 closes this issue.

[2016-01-22 23:08] kennym opened #37 "How to use StreamRails.config.news_feeds with custom feed names?"
I have the following slugs for my feeds:
* `timeline_flat` (instead of `flat`)
* `timeline_aggregated` (instead of `aggregated`)

set like this:

[code]

However, upon trying to call the news feed like this:

[code]

I get an error. Also with this:

[code]

Any ideas what I might be doing wrong?

[2016-01-22 23:08] kennym commented on #37
@tbarbugli @tschellenbach

[2016-01-22 23:12] kennym commented on #37
The culprit seems to be this line: https://github.com/GetStream/stream-rails/blob/master/lib/stream_rails/feed_manager.rb#L18

The custom news_feed name is never passed along to your API. I wonder if that's supposed to happen, or if I am just misunderstanding the API.

If I try to change the logic to use the custom news_feed names provided by the initializer, as follows:

[code]

I get the followi

[2016-01-22 23:20] tschellenbach commented on #37
That definitely sounds like a bug. Can you try making the API call from stream-ruby instead of stream-rails? @tbarbugli what do you think?

[2016-01-22 23:25] kennym commented on #37
@tschellenbach that definitely worked for me:

[code]

Yes, that works. So, this is definitely a bug.

[2016-01-22 23:53] kennym commented on #37
You need to merge https://github.com/GetStream/stream-ruby/pull/46 before merging this to get it to work. :+1: Hope this helps.

[2016-01-23 02:52] #37 closed

[2016-02-15 18:13] Patrax opened #40 "activity_notify not working"
I've tested this getting the target feed to see if it is notified, but it returns no results.
[code]

[2016-02-18 14:44] kennym commented on #40
@Patrax shouldn't it be `feed = StreamRails.feed_manager.get_notification_feed(@target.id)`?

Also, check your logs to look out for any warnings or hints.

[2016-02-19 15:04] kennym commented on #35
@tbarbugli the goal would be to test activity creation with any given Ruby test framework. I am planning on tackling RSpec first, because that's what I use most and probably other developers, too.

The API, based on what I test most:

# Check that their activities in a feed
expect(StreamRails.feed_manager.get_feed()).to have_activities_count(3)
#
expect(StreamRails.feed_manager.get_feed()).to have

[2016-02-21 15:50] tbarbugli commented on #35
Perhaps what makes more sense is to use stubbing to make sure that requests are properly created by the client and VCR to make sure responses can be decoded/read properly.

[2016-04-07 14:01] kennym opened #47 "Auto-detect references to enrich"
Related discussion: https://github.com/GetStream/stream-rails/pull/46#discussion_r58875461

[2016-05-31 20:32] ACPK opened #48 "Site-wide Stream Activity"
How would I have a specific model's stream show up for all users?

[2016-05-31 20:33] ACPK commented on #48
I'd also like an admin's stream to show all activity.

[2016-07-05 18:33] desmondhume commented on #48
I actually just made all existing users follow those ubiquitous feeds and add an `after_create` callback in order to make new users automatically follow said feeds.

I don't know if it's the standard way to do it (i don't even know if there's one), but it should work just fine 👯

[2016-08-02 17:57] asmatameem commented on #40
@Patrax : I had the same issue too. I used the example ` stream_rails.rb ` config file which configures the notification feed as `  config.notification_feed = "notifications" `, but in the dashboard the feed group that is created by default is ` notification `. Change your config file to match the name that is given in dashboard - ` notification ` and it should work.

[2016-08-02 18:03] tbarbugli commented on #40
fixed the example in the README, thank you for pointing this out!

[2016-08-02 18:03] #40 closed

[2016-08-02 20:36] asmatameem commented on #40
@tbarbugli : Thanks for updating it in the README. That fixes the ` get_user_feed ` results, but I still don't see any results in ` StreamRails.feed_manager.get_notification_feed(current_user.id).get() ` ? Any thoughts? I am using the ` stream-example-rails ` app to test this.

[2016-08-02 21:34] asmatameem opened #50 "No feed results for news feeds"
I don't see any results in any feeds other than user and notification feeds.
Any thoughts? I am using the ` stream-example-rails ` app to test this.

[code]

[code]

[2016-08-02 22:35] asmatameem commented on #50
I do see them by changing the user id param passed to get the feeds.

[2016-08-02 22:35] #50 closed

[2016-08-31 14:57] asmatameem opened #51 "Upgrade to latest version of stream-ruby?"
stream-rails is using a much older version of stream-ruby where the ` Stream::Client ` doesn't expose methods like ` update_activity ` and ` update_activities `. Any plans of upgrading it?

[2016-08-31 16:38] tbarbugli commented on #51
good point, updating to last version of the client is very safe (no breaking changes were introduced). We are going to do this very soon!

[2016-08-31 16:46] iandouglas commented on #51
Hi @asmatameem , I'll take a look at this and let you know what I find.

[2016-09-09 21:27] iandouglas commented on #51
@asmatameem can you contact me at ian@getstream.io when you have a minute to chat? I have a few questions for you.

[2016-09-14 16:49] iandouglas commented on #51
All done!

[2016-09-14 16:49] #51 closed

[2016-09-14 22:14] JeffreyCheng92 opened #53 "Notification feed needs configuring?"
I've followed the basic instructions in my rails application and am current stuck on this line of code.

[code]

It seems everytime I try to push an event into the target's notification feed, I get the error:
`FeedConfigException details: The following feeds are not configured: 'user'`

I have the following configuration inside the initializer:

[code]

On the dashboard, I've created a notificatio

[2016-10-01 02:20] rromanchuk opened #54 "Having issues with namespace using public_activity gem"
I'm getting a `#1089 ArgumentError: wrong number of arguments (given 2, expected 1)` in a method unrelated to this project, and i noticed it looks like a name space collision /lib/stream_rails/utils/view_helpers.rb" line 7 in render_activity

Looks like an unfortunate collision between `public_activity` and `stream_rails`
https://github.com/chaps-io/public_activity/blob/master/lib/public_activity/

[2016-10-19 00:56] rromanchuk commented on #54
I tried forking the project and simply monkey patching the stream_rails which got me around this error, but now it looks like there is more name collision

[code]

[2016-10-19 02:31] #6 closed

[2016-10-19 02:38] iandouglas commented on #18
@toobulkeh Sorry this hasn't been answered until now. Take a look at our discard rules, maybe this is what you're looking for: https://getstream.io/docs/#discard-rules

[2016-10-19 02:38] #18 closed

[2016-10-19 02:38] #21 closed

[2016-10-19 02:39] #35 closed

[2016-10-19 02:43] iandouglas commented on #48
@ACPK @desmondhume Generally we recommend making a global flat feed and copying activities to that, and having all users also follow that feed, if those things are important for everyone to see.

[2016-10-19 02:43] #48 closed

[2016-10-19 02:46] iandouglas commented on #53
@JeffreyCheng92 I'm still fairly new to Stream, but I'm happy to dig into this if you're still having a problem. That the code is trying to fetch that user's notification feed, but I believe the user model uses a flat feed called 'user' for user activities. Like I said, I'm happy to dig into it more if you still need assistance; let me know.

[2016-10-19 02:49] iandouglas commented on #54
Thanks for the update @rromanchuk. What did you patch to get this far?

[2016-10-19 03:04] #10 closed

[2016-10-19 05:20] rromanchuk commented on #54
🙈  https://github.com/rromanchuk/stream-rails/commit/da3cf5dad929b16885da9eeea1a7d62a84e7662d

[2016-10-21 19:38] rromanchuk commented on #54
@iandouglas i actually just dropped down a layer to `stream-ruby`,  API is beautiful, so even without fancy ORM, not that painful 😃

[2016-10-21 19:41] rromanchuk commented on #54
This is pretty edge case-y so I wouldn't worry about it too much, i don't have a lot of time to dive in to help, but it's only from the interaction of these two libraries and I don't see a lot of end users using both both of these gems, so i'm just going to close this

[2016-10-21 19:41] #54 closed

[2016-10-31 22:11] JeffreyCheng92 commented on #53
@iandouglas Sorry I didn't get back to you sooner but I'm still having issues.

Here's some extra information to go off of.

[code]

Compared to here where I explicitly state the name:

[code]

The name of the feed in the online dashboard is `Notification` (notice the capital N). You can see in the former that without explicitly stating the name of the feed, it returns lower case `notifications`,

[2016-10-31 22:15] iandouglas commented on #53
Can you check your app on your dashboard and see whether your notification feed is called "Notification" or "notification" (first character is uppercase or not) ?

[2016-10-31 23:10] JeffreyCheng92 commented on #53
On my online dashboard:

![image](https://cloud.githubusercontent.com/assets/12540391/19874677/3aa19262-9f84-11e6-9e88-e06eb4af1597.png)

and within my StreamRails configuration:

[code]

Yet `StreamRails.feed_manager.get_notification_feed(16468)` returns a feed with name `@feed_name="notification16468"`. See lowercase `n` instead of capital `N`.

[2016-10-31 23:57] l4u opened #55 "Rails 5 support"
is rails 5 supported?

[2016-11-01 07:50] tbarbugli commented on #55
@iandouglas did you check?

[2016-11-17 19:46] fdwillis opened #56 "enriched? error"
Im getting this error

Missing partial activity/_click

im trying to do this as a realtime feed

[2016-12-15 14:37] JelteF opened #57 "Something is broken with the build"
I reran it just now and all of them fail with some weird error. @iandouglas could you look into this?

[2016-12-26 20:07] iandouglas commented on #57
Should be fixed with https://github.com/GetStream/stream-rails/pull/58

[2016-12-26 20:08] #57 closed

[2016-12-26 21:26] iandouglas commented on #55
@l4u I'm looking into this. I'm curious if this is a problem with our lower-level stream-ruby library than a Rails issue, but here's where it's failing: https://travis-ci.org/GetStream/stream-rails/jobs/186844368

[2016-12-27 23:19] iandouglas commented on #22
Hi @andoq. I know this is a very late reply, but in v 2.5.1 I've written up instructions on how we handle this. Unfortunately right now our enrichment does need to split on a `:` character specifically because that's how many of our feed items are stored (eg, `actor:123`, `verb_name:234`, etc) so to change to something else would be more problematic. In v2.5.2 (or perhaps 2.6) I might introduce so

[2016-12-27 23:19] #22 closed

[2017-03-14 07:26] krtschmr opened #60 "feed_name and naming issue in general"
automatically it becomes `class.downcase`

[code]

why is this and why don't we keep the rails convention of namespacing `Admin::User` or `User::Image` ?

i found out that the stream is case-sensitive so we can run into lots of problems here

i think it's a better approach to make it

[code]

or then

[code]

[code]

you write in your docs at some point
` The left half of the string:string metadat

[2017-03-14 08:22] tbarbugli commented on #60
Is enrichment not working in your case? If yes, can you provide the model and some more information about the error?

[2017-03-14 08:27] krtschmr commented on #60
actually the whole gem is not working since i have huge `method_missing` for gem-models (`acts_as_follower` as an example) so i populate the stuff myself with basic ruby code

[code]

this is when i detected that the user feed
https://github.com/GetStream/stream-rails/blob/master/lib/stream_rails/feed_manager.rb#L14
somehow uses `user:1` and for that reason won't work with our heavy namespaced mod

[2017-03-14 08:41] tbarbugli commented on #60
is there a specific reason you did not use the built-in integration approach for your models?

[code]

[2017-04-07 03:48] krtschmr commented on #60
yes, the reason is *control*. i do see the benefit of using the magic of the gem for small applications. we currently have about 35 models that somehow interact with each other. when i tried the rails-gem somehow the magic was too much ;)

[2017-04-07 03:50] krtschmr commented on #60
Actually, the initial problem is still unsolved. We should have an eye on the naming-convention

[2017-04-07 03:50] #60 closed

[2017-07-25 18:30] tobeee opened #64 "FeedConfigException following readme"
Hi guys,

I've set up the 4 standard feeds as expected (user,timeline,notification,timeline_aggregated) then proceeded to try and build out the code, but it keeps erroring out on me.

[code]

Seems to be the issue - [:flat] doesn't seem to work. I tried even making a feed called flat and still no dice.

Error message is as follows:

```GET https://api.getstream.io/api/v1.0/feed/flat/1/?api_key=zas

[2017-08-02 19:15] ACPK commented on #55
Any update?

[2017-08-02 19:59] iandouglas commented on #55
@ACPK No update at this time. Is this something you'd be willing to help with by contributing some code?

[2017-08-02 23:37] ACPK commented on #55
@iandouglas - Absolutely if we move forward with Stream. Would you be available this week for a call? My email is ak@callred.com.

[2017-09-04 12:23] dwightgunning commented on #64
In the call to `get_news_feeds` feed you're passing the name of the Feed Group "flat".

Peeking at your app in our admin systems I can see you don't currently have any Feed Group named "flat". Hence the error message "The following feeds are not configured: 'flat'." If you're looking to read one of those existing Feed Groups, you'll just need to change the `:flat` parameter accordingly.

_I'm bein

[2017-09-04 12:23] #64 closed

[2017-11-02 06:55] tobeee opened #65 "Removing Fields from Enriched Data"
Hi guys,

Just wondering if anyone has found an easy way to strip fields out from the Actor property to remove sensitive information (like email etc)

Ideally would prefer to whitelist available properties - anyone had any luck?

Thanks!

[2017-11-02 19:31] iandouglas commented on #65
Hi @tobeee ... when the enrichment runs you'll get the full user object available for your view to process, but it's really up to your code to restrict access to things, not Stream. If you're passing the data to a front-end system and serializing it as JSON first you can certainly tweak your serializer to remove certain fields from the output. Again, that's out of scope for our library, though.

[2017-11-02 19:31] #65 closed

[2017-11-02 19:32] #56 closed

[2017-11-25 20:08] adambedford opened #67 "Issue with feed enrichment"
I'm running into an issue with feed enrichment, whereby it doesn't actually enrich the activity feed.

The result I'm getting from the API is this:

[code]

This is an array of hashes with each hash containing the key `activities` and  `StreamRails::Enrich#collect_references` accepts this array, however it loops through each hash in the array looking for the keys `[:actor, :object, :target]`, whic

[2017-11-26 03:54] iandouglas commented on #67
This looks like an aggregated feed type? I'll look into it.

[2017-11-26 03:56] iandouglas commented on #67
Er, apologies, the seen/read flags are in notification feed groups, not aggregated feeds. I'm not aware of anything changing lately to cause this, but I'll check into it.

[2017-11-26 07:15] adambedford commented on #67
It is a notification feed and it just seems like the json structure doesn't align with what the enricher is expecting

[2017-12-01 20:31] iandouglas commented on #67
Gave a workaround via email that loops through the activities grouped up in the notification feed. It appears that our SDK libraries that communicate directly with an ORM only enrich flat feeds and aggregated feeds, so I'm going to flag this as "won't fix" for the time being. When we get enough customers asking for notification feed enrichment, we'll revisit this.

[2017-12-01 20:31] #67 closed

[2017-12-07 22:53] adambedford opened #68 "Enrichment doesn't work with namespaced models"
Enrichment works by storing a reference to the model name in the format `Name:ID`, e.g. `User:5`. This doesn't work when the model name is namespaced, such as `Namespaced::Model:5` -- splitting on `:`, results in `["Namespaced", "", "Model", "5"]`, which isn't what we want.

This should work, although I'm sure there's a more elegant way:
[code]

[2017-12-13 01:20] adambedford commented on #68
A better solution I think would be to change `StreamRails.create_reference` to underscore the model name so `Namespaced::Model` with an ID of 5 becomes `namespaced/model:5`, and, during enrichment, `classify` will correctly reassemble that to `Namespaced::Model`

[2017-12-14 20:57] shaam48 opened #72 "undefined method 'enriched?' for #<Hash:0x007fcbd9ea2bd8>"
So, I get the following error when trying to load my notification_feed:

undefined method `key?' for #<Array:0x007fcdf7bf0118>

Where it is erroring in the gem:
[code]

My Code:
notifications.html.erb:
[code]
notifications_controller.rb:
[code]

[2017-12-19 18:45] shaam48 commented on #72
I've created a PR solving the issue #73

[2017-12-19 22:30] #72 closed

[2018-02-16 09:53] yo-gen opened #74 "undefined method `enriched?' for #<Hash:0x000000069cebf8>"
I have following code in my controller and views respectively. The feed is returned correctly in the controller. But template rendering throws this error.
undefined method `enriched?' for #<Hash:0x000000069cebf8>
Anyone has any idea?

[code]

Following is the view code

[code]

[2018-04-16 16:44] mikeyduece commented on #53
@JeffreyCheng92 I had the same problem. I changed `flat: 'timeline_flat` to `flat: 'timeline` and it worked for me.

[2018-04-21 14:03] yo-gen opened #75 "activity_owner_id not found for a particular model on destroy"
I have setup a following follower relationship just as mentioned in Michael Hartl's Rail Tutorial.
And I am using getstream to generate notifications whenever a user gets followed

[code]

[code]

When I try to destroy a user, it destroys the associated relationships as well, because of dependent destroy.
But stream rails throws following error in destroying the notification activities for relatio

[2018-04-23 10:41] ayrton commented on #68
A more elegant ruby way to get the model (and id):

[code]

[2018-04-23 10:49] ayrton commented on #68
I've monkey patched the Gem to make this work in our app. We make use of namespaced models a lot:

[code]

[2018-04-23 20:00] rromanchuk commented on #74
Getting the same error for activity that is an aggregation

[code]

<img width="563" alt="screen shot 2018-04-23 at 12 59 31 pm" src="https://user-images.githubusercontent.com/102188/39150142-329b8e90-46f6-11e8-96cb-63b0b46b76f4.png">

[2018-04-23 20:01] rromanchuk commented on #74
Also looks like `enricher.enrich_activities(results)` does nothing for aggregated feeds

[2018-04-24 06:35] yo-gen commented on #74
Documented the change and made a pull request.

https://github.com/GetStream/stream-rails/pull/77

[2018-04-24 06:42] rromanchuk commented on #74
Yeah we both did the same thing lol https://github.com/GetStream/stream-rails/pull/76

[2018-04-25 15:29] jkeam commented on #55
Just curious on the progress of this?

[2018-04-25 17:02] jkeam commented on #55
I've been using v2.5.2 bc newest is problematic for me.

Newest gives me this error:
`NoMethodError: undefined method `split' for nil:NilClass`

[2018-04-26 09:01] tbarbugli commented on #55
We added Rails 5 support a while back and updated the example app to use it (https://github.com/GetStream/Stream-Example-Rails). @jkeam can you share more about the issue that you are experiencing?

[2018-04-26 13:01] ruggi commented on #55
@jkeam there were indeed some issues in the library, they should be fixed now (for both Rails 5.0 and 5.2), with the version 2.6.1 of the gem. Could you let me know if it works fine on your side now?

[2018-05-02 09:25] yo-gen commented on #75
I would still like to understand the problem and figure out a clean solution for this.

But for now I have fixed this with adding a before_destroy in the Relationship model and just calling activity_owner_id in it once as shown below:

[code]

[2018-05-03 14:52] ruggi commented on #75
Hi @yo-gen , this issue is on my backlog, will look into it as soon as possible and let you know.

[2018-05-07 07:52] ruggi commented on #55
Closing this issue.

[2018-05-07 07:52] #55 closed

[2018-05-08 10:26] yo-gen commented on #75
That's great. Do tell me if I can help.

[2018-05-09 06:01] rromanchuk opened #79 "Best practice for updated_at, created_at timestamp strings?"
I'm noticing my client side date formatter is failing because my timestamps aren't being rendered the same way rails is formatting my active record `created_at`, `updated_at` columns. Since i'm getting these back as strings from  the `getstream` enricher, should i run them through some normalization process like `Time.parse("2018-05-09T03:32:41.997959").iso8601`?

[code]

The format string on the

[2018-05-09 06:03] rromanchuk commented on #79
Reviewing my responses:

Rails dates being rendered:
`"created_at": "2018-03-26T21:44:23.551Z",`

getstream date strings
[code]

[2018-05-09 06:13] teenkung commented on #79
Rails dates being rendered:
"created_at": "2018-03-26T21:44:23.551Z",

getstream date strings

"created_at": "2018-05-09T00:54:06.123351",
"updated_at": "2018-05-09T05:40:06.526624",

[2018-05-09 08:57] teenkung commented on #79
ผมต้องทำไงครับ
ถึงจะทำไห้เสร็จสมบูรณ์I need to do it.
It will be completed.

[2018-05-09 23:48] jkeam commented on #55
I hate to comment on a closed issue but wanted to drop a note just incase someone else ran into what I ran into.

Looks like the default news_feeds changed (https://github.com/GetStream/stream-rails/commit/00b8db607a30cdcbdb89bbbf898825d324c8ad2e), so just had to add:

[code]

and I'm all good again  :)

[2018-05-16 13:15] dwightgunning commented on #79
Thanks for the note. I've passed this on to a Stream team member with Ruby/RoR experience as I'm unfortunately not all that familiar.

Perhaps of help is that the [stream-rails-example](https://github.com/GetStream/Stream-Example-Rails) project does have an [example](https://github.com/GetStream/Stream-Example-Rails/blob/b25bd10d36238e96f2490c29384f5c668f6fec01/app/views/items/_item.html.erb#L18)

[2018-06-07 08:42] ruggi commented on #79
@rromanchuk as you already highlighted, there's a difference between the rails representation of dates and the one returned by API calls: for example, the Rails client sends dates (an activity's `"time"` field) to the API in the ISO 8601 format ([here](https://github.com/GetStream/stream-rails/blob/68582936c92730b3401b918bd4907f30e81a427a/lib/stream_rails/activity.rb#L80)), but the dates returned

[2018-06-20 15:06] #79 closed

[2018-06-20 15:06] dwightgunning commented on #79
Thanks for posing the question @rromanchuk and I hope the advice from @ruggi is helpful. I'll close this out for now but feel free to comment further or contact us with any follow ups.

[2018-06-21 23:43] rromanchuk commented on #79
Opps, forgot to close. Thanks!

[2018-06-21 23:55] rromanchuk commented on #79
This is more of a generic architecture question beyond the scope of getstream but I feel like you guys may hold strong opinions, or point me in the right direction. I basically rewrote my notifications so the firehose is now my "driver" for delivery and i'd like to start developing a much smarter delivery system, and by smarter, i mean coalescing common high velocity events while avoiding re-archi

[2018-08-03 11:30] #75 closed

[2018-08-03 12:59] #74 closed

[2018-08-06 15:57] #68 closed

[2018-08-24 20:02] palkerecsenyi opened #85 "Verb is always name of model"
For some reason, my integration of Stream is using the name of my model (`Picture`) as the verb of all its activities instead of something like 'create' - I'm not sure why.

`models/picture.rb` (excerpt):

[code]

The issue may be to do with my use of `self` rather than `self.item` - however, using `self.item` it throws the following error while running the `picture#create` action:

[code]

Not su

[2018-08-24 20:06] palkerecsenyi commented on #85
### Update:
This snippet from `stream_rails/activity.rb` suggests that this is normal behaviour:
[code]

If so, why is this the case?

[2018-08-27 08:08] tbarbugli commented on #85
@palkerecsenyi this is default behavior; it works pretty well in many cases (Post, Like, Comment, ...) but you can change that easily by implementing `#activity_notify` for your Picture model.

[2018-08-27 08:08] #85 closed

[2018-08-27 08:09] #53 closed

[2018-08-28 20:00] palkerecsenyi commented on #85
Thanks, it just wasn't making sense for `Article` 'John Smith articled Hello world'

[2018-10-05 14:40] manuelpuyol opened #87 "Can't send multiple activities with different verbs at the same time"
Hey, I'm doing an implementation in which an action triggers two activities (with different verbs), but when I create them, somehow it only detects one of the verbs.

I've included added a custom `after_commit` callback that manually creates activities

Example:
[code]

I get a correct response:

[code]

But when I get User 62922 notifications, it is saved as a `verb_2` activity:

[code]

returns:

[2018-10-08 09:29] tbarbugli commented on #87
Activities uniqueness is based on the value of "foreign_id" and "time" fields so in this case you are adding the same activity with different payloads. Because of the unique constraint on the two fields the second insert replaces the first activity.

[2018-10-10 12:36] a-ta-ta opened #88 "Enhancing feed_manager to follow a few models"
Using Stream-rails, I noticed that feed_manager allows users follow just other users.

However, nowadays people follow communities not less than users and it would be awesome to make the  current feed_manager more flexible to use custom models for dealing with feeds.

[2019-02-06 15:29] michaelfahmy opened #89 "Upgrade stream-ruby to the latest version (v3.1.x)"
Can't generate user session token from `Stream::Client` which was not supported in the current used stream-ruby version. Any plans to upgrade it to the latest?

[2019-02-28 14:15] thisismydesign opened #90 "StreamRails::Activity overwrites activity_object method, breaks generic approach to Activity Objects"
Our current approach to handle a generic activity type is to use STI with the base model `ActivityObject` and specific child models. It would be used as:

[code]

This approach, however, doesn't work because `stream-rails` [overwrites methods such as `activity_object`](https://github.com/GetStream/stream-rails/blob/301822076a939df7dca691e43cf794b81c62df14/lib/stream_rails/activity.rb#L45-L51).

I

[2019-03-07 08:36] rromanchuk opened #91 "Can you guys verify your gemspec works with stream-ruby"
[code]

[2019-03-13 14:17] mircea-cosbuc commented on #91
Hi @rromanchuk. Can you please provide more details about your setup?
Spinning up an empty project with the `Gemfile`:
[code]
and running
[code]
resolves `stream-rails` to `2.6.5` and `stream-ruby` to `2.11.0`
[code]

[2019-03-13 15:11] mircea-cosbuc commented on #90
Hi @thisismydesign ! I think that this approach could be supported and we would welcome a PR. If you'd like to provide a more detailed draft of what you're trying to accomplish, we could consider it while updating the rails SDK, there's a couple of features in https://github.com/GetStream/stream-ruby we want to bring in.

[2019-03-13 16:42] rromanchuk commented on #91
And stream ruby to your gem file as well

On Wed, Mar 13, 2019 at 7:22 AM mircea-cosbuc <notifications@github.com>
wrote:

[2019-03-13 16:43] rromanchuk commented on #91
Then bundle update

On Wed, Mar 13, 2019 at 9:41 AM Ryan Romanchuk <rromanchuk@gmail.com> wrote:

[2019-03-13 16:58] mircea-cosbuc commented on #91
That still resolves the dependencies correctly for this basic case. The dependencies for the rails sdk haven't been updated in a while and it seems that the builds would fail with some rails versions. I'll take this opportunity to bring them up to date. Thanks for the report!

[2019-03-13 19:57] rromanchuk commented on #91
I can make a reproducible rails project if you want. I explicitly use stream-ruby in a some places so I can't just rely on stream-rails dependency including it. I thought it was independent of rails after using `bundle outdated`.  The sanity test for the case i'm trying to use would be

[code]

I need to be able to use the latest release of the ruby client, just seems like i'm always forking to re

[2019-03-13 19:57] #91 closed

[2019-03-13 20:01] rromanchuk commented on #91
<img width="686" alt="Screen Shot 2019-03-13 at 1 00 55 PM" src="https://user-images.githubusercontent.com/102188/54310649-1b788080-4590-11e9-99fa-78922c375564.png">

Sanity test fails

[2019-03-17 20:39] Brotakuu opened #93 "Group aggregate feeds by object instead of actor"
Currently aggregate fields are grouped by actor (ben liked 5 photos).

I would like to  group aggregate fields by the object (24 people liked this photo)

Is this possible? My like model looks like this:

[code]

[2019-03-28 11:14] tbarbugli commented on #93
@Brotakuu you can change how aggregation works directly from Stream's Dashboard https://getstream.io/docs/#aggregated-feeds

[2019-03-28 11:14] #93 closed

[2019-04-17 16:39] joshmenden commented on #88
I agree with this. I would also like to be able to override the feed that an activity is posted to. It looks like in the source code it is hardcoded to a "user" feed, but what if I want the activity to be posted to a "band" or "artist" feed?

[2019-04-18 22:40] joshmenden commented on #88
The above problem of a hard coded "user" is addressed in: https://github.com/GetStream/stream-rails/pull/94

[2019-04-23 11:23] thisismydesign opened #96 "Entity destroy doesn't respect instance.activity_should_sync?"
See: https://github.com/GetStream/stream-rails/blob/8ffa4f144169f1f31465c83f0401bad473630994/lib/stream_rails/feed_manager.rb#L58-L59

As opposed to: https://github.com/GetStream/stream-rails/blob/8ffa4f144169f1f31465c83f0401bad473630994/lib/stream_rails/feed_manager.rb#L51-L52

I think this doesn't make sense. I guess you don't fail on record not found, but it still does an unwanted network call

[2019-05-28 12:59] davideluque opened #97 "Testing in Stream Rails?"
Hello,

Is it possible to take a TDD approach in an app that uses stream?

For example,

Get the news feed of a user that does not follow other users.
- it returns status code 200
- expect(response.body).to be("[]")

Get the news feed of a user that follows 2 users and each of them made a post
- it returns status code 200
- expect(json.size).to eq(2)

I am using RSpec.

My issue is that I get my s

[2019-08-12 13:46] #97 closed

[2020-02-13 15:37] #87 closed

[2020-12-03 19:40] ast0708 opened #98 "Is there a way to put the model tracking in background jobs?"

[2021-03-04 19:51] victorfgs opened #99 "Update stream-ruby to the latest version (~> 4.0.0)"
Dependency stream-ruby v3.x.x is using outdated version of Faraday (< 1.0) and it's causing Gemfile conflicts with newer gems.

[2021-03-04 20:34] victorfgs commented on #99
Just noticed that this gem is supported by ruby >= 1.9.2 and this is breaking the CI as it is now.

Is there chance to drop ruby old versions support?
stream-ruby ~> 4.0.1 requires ruby 2.5 at least

[2021-03-04 20:34] victorfgs commented on #99
Bump [PR](https://github.com/GetStream/stream-rails/pull/100) link

[2021-03-04 20:36] #99 closed

[2021-03-04 20:42] ferhatelmas commented on #89
#100

[2021-03-04 20:42] #89 closed

[2021-03-04 20:49] ferhatelmas commented on #99
Yes, definitely, they are too old.

[2021-03-18 15:39] matthewlein opened #109 "Does enrichment work on Stream::Client results?"
I am trying to enrich results from the `Stream::Client` client, not from the `StreamRails.feed_manager`.

I get results, pass them to the enricher, but it does nothing. Should this work, or only feeds through the feed manager?

Do the enriched models need anything like `include StreamRails::Activity` included? I don't plan to use any automatic integration so I haven't included that.

[2021-03-18 19:29] matthewlein commented on #109
Nevermind. I think it does work, this stream was from another env without matching record ids.

[2021-03-18 19:29] #109 closed

[2021-03-22 18:30] zolon4 opened #110 "NotificationFeed: ImmutableItemWrapper: Nothing was returned from render"
Component

[code]

![Simulator Screen Shot - iPhone 11 - 2021-03-22 at 13 28 18](https://user-images.githubusercontent.com/13872813/112040005-a773fa00-8b12-11eb-9c6d-81adf4115687.png)

Any ideas why im getting this?

[2021-03-22 18:31] #110 closed

[2021-04-28 17:09] expjazz opened #111 "Getting error: uninitialized constant #<Class:StreamRails>::Sequel - But using Application Record"
I'm getting this error even when using Application Record.

This is the code on my model:
![Screenshot from 2021-04-28 14-08-53](https://user-images.githubusercontent.com/61479648/116444635-4c2cda00-a82b-11eb-8c84-03c11af5dd69.png)

Error message:
![Screenshot from 2021-04-28 14-09-31](https://user-images.githubusercontent.com/61479648/116444700-62d33100-a82b-11eb-86e6-5afbc6d36e96.png)

Thanks!

[2021-04-28 18:41] #111 closed

[2021-04-28 19:45] ferhatelmas commented on #111
@expjazz were you able to fix the issue ?

I guess you require pg adapter explicitly. If you have something similar `gem 'sequel_pg', require: false`, remove it.

[2021-04-29 03:44] augustosamame commented on #111
Thanks for the quick reply.

Me and @expjazz had a look at the gem code and found that when we referenced non active Record objects (like a field for example) in methods like `activity_actor`, this exception occurred.

This restriction was not well documented and the bug was very cryptic, so putting it here if someone is bitten by this in the future.

[2021-06-02 09:43] MuhammadRazaAslam opened #112 "Missing Auth Header"
I'm trying to fetch all feeds but I'm getting the following error in response.

**Request:**
`StreamRails.feed_manager.get_user_feed(current_user.id).get`
**Response:**
`{"detail":"Missing auth header.","status_code":403,"code":17,"exception":"NotAllowedException","duration":"0.00ms","more_info":"https://getstream.io/docs/api_error_responses"}
`

Anyone can tell me what's the issue?

[2021-06-21 16:26] ferhatelmas commented on #112
This is user setup related. Replied on support ticket, not related to SDK, closing.

[2021-06-21 16:26] #112 closed

[2022-01-10 03:39] flyfy1 opened #115 "Examples to sync User object / relationship?"
It seems to me that this gem only supports sync activity.

How about:

- [User](https://getstream.io/activity-feeds/docs/ruby/users_introduction/?language=ruby)
- [Follow](https://getstream.io/activity-feeds/docs/ruby/following/?language=ruby)